header {
  padding: 2.2rem 2.4rem;
  background-color: $ColorWhite;

  @include responsiveDesktop {
    padding: 3.2rem 16.5rem;
  }

  &.active {
    .menu__line:nth-child(2) {
      opacity: 0;
    }

    .menu__line:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }

    .menu__line:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }

    .overlay {
      background: linear-gradient(
        180deg,
        #2d314d 0%,
        rgba(45, 49, 77, 0.0001) 100%
      );
      position: fixed;
      top: 6.6rem;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      visibility: visible;
      opacity: 0;
      animation: fadeIn 300ms ease-in forwards;
    }
  }

  .navbar {
    background-color: $ColorWhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    &__list {
      display: none;

      @include responsiveDesktop {
        display: block;
      }
    }

    .btn {
      display: none;

      @include responsiveDesktop {
        display: block;
      }
    }

    .menu {
      cursor: pointer;

      @include responsiveDesktop {
        display: none;
      }

      &__line {
        transition: all 0.4s;
        background-color: $ColorDarkBlue;
        width: 2.4rem;
        height: 0.1rem;
        display: block;
        &:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }

  .overlay {
    visibility: hidden;
  }

  .fade-in {
    animation: fadeIn;
  }
}

.fade-in {
  animation: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 1;
    visibility: hidden;
  }
}
