// Primary Colours
$PColorDarkBlue: #2d314d;
$ColorLimeGreen: #31d35c;
$ColorBrightCyan: #2bb7da;

// Neutral Colours
$ColorGrayishBlue: #9698a6;
$ColorLightGrayishBlue: #f3f4f6;
$ColorVeryLightGray: #fafafa;
$ColorWhite: #ffffff;

// Heading Font Sizes Desktop
$Heading1Desktop: 5.6rem;
$Heading2Desktop: 4rem;
$Heading3Desktop: 2.4rem;

// Heading Font Sizes Mobile
$Heading1Mobile: 4rem;
$Heading2Mobile: 3.2rem;
$Heading3Mobile: 2rem;

// Body Font Sizes Desktop
$BodyTextDesktop: 1.8rem;

// Body Font Sizes Mobile
$BodyTextDesktop: 1.5rem;
