// Primary Colours
$PColorDarkBlue: #2d314d;
$ColorLimeGreen: #31d35c;
$ColorBrightCyan: #2bb7da;

// Neutral Colours
$ColorGrayishBlue: #9698a6;
$ColorLightGrayishBlue: #f3f4f6;
$ColorVeryLightGray: #fafafa;
$ColorWhite: #ffffff;
